python al.py --sensors "[Bath,Bathroom,BathroomDoor,BathroomLight,Bed,Bedroom,BedroomDoor,BedroomLight,Chair,Closet,ClosetDoor,ClosetLight,Couch,Desk,DiningRoom,DiningRoomLight,Entry,FrontDoor,FrontDoorLight,GarageDoor,GuestBathroom,GuestRoom,Hall,HallLight,Kitchen,KitchenCabinet,KitchenLight,LaundryRoom,LivingRoom,LivingRoomLight,LoungeChair,MedCabinet,Office,OfficeLight,OtherRoom,OutsideDoor,Refrigerator,Sink,Stove,TV,Toilet,WorkArea,WorkAreaLight]" --activities "[Bed_Toilet_Transition,Go_To_Sleep,Sleep,Wake_Up,Personal_Hygiene,Other_Activity,Bathe,Step_Out,Morning_Meds,Cook_Breakfast,Eat_Breakfast,Wash_Breakfast_Dishes,Dress,Toilet,Exercise,Watch_TV,Leave_Home,Enter_Home,Work_At_Table,Evening_Meds,Cook_Lunch,Eat_Lunch,Wash_Lunch_Dishes,Relax,Cook_Dinner,Eat_Dinner,Wash_Dinner_Dishes,Read,Sleep_Out_Of_Bed,Phone,Wash_Dishes,Cook,Eat]" --mode TEST <datafilename>
